.thankYou {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 52%;
}

h1 {
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 2px;
  margin-top: 35px;
}

h2 {
  color: hsl(279, 6%, 55%);
  font-size: 18px;
  font-weight: 500;
  margin-top: 0px;
}

button {
  background: hsl(278, 68%, 11%);
  border: 0;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-size: 18px;
  margin-top: 32px;
  padding: 16px 100px;
  width: 380px;
}

@media (max-width: 1292px) {
  .thankYou {
    margin: 0 auto;
    margin-top: 40px;
    width: 80%;
  }

  button {
    width: 324px;
  }
}
