@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500&display=swap");
* {
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
}

body {
  background: #fff;
}
